* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #a1dbdd; /* Light blue background */
    color: #030108; /* Dark text color */
    padding: 20px;
}


h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}


label {
    font-size: 1.2rem;
    margin-right: 10px;
}


input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #160606; 
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
}


button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #1685ec; 
    color: rgba(255, 255, 255, 0.877); 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 
button:hover {
    background-color: #da470d;
}


section {
    background-color: #fff; 
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1685ec; 
}


#country-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

.flag-img {
    width: 150px; 
    height: auto;
    margin-top: 10px;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f9f9f9; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

ul li:hover {
    background-color: #d0e4f4; 
}


ul li img {
    width: 30px; 
    height: auto;
    margin-right: 10px;
}


ul li span {
    font-weight: bold;
    margin-left: 10px;
}

